<a href="https://colab.research.google.com/github/etappau/info5731/blob/master/Paul_classwork3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class work 3: Text Classification on IMDB review samples

## Data loading

**Question 1: (10 points)**

Go to [this link](https://unt.instructure.com/courses/12025/files/2443720/download?download_frd=1) to download the data file and upload it to Google Colab. And then run the following commands:

In [0]:
import pickle

In [0]:
from google.colab import files
uploaded = files.upload()

Saving imdb-review.pickle to imdb-review.pickle

In [0]:
with open('imdb-review.pickle', 'rb') as f:
    train, test = pickle.load(f)

In [0]:
train.head()

                                                text  sentiment
0  For a movie that gets no respect there sure ar...          1
1  Bizarre horror movie filled with famous faces ...          1
2  A solid, if unremarkable film. Matthau, as Ein...          1
3  It's a strange feeling to sit alone in a theat...          1
4  You probably all already know this by now, but...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-19-073406.png)

## sampling

**Question 2: (10 points)**

Sample **2000** rows from original training set. 1000 positive, 1000 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`train`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [0]:
import pandas as pd

In [0]:
train.sentiment.value_counts()

1    12500
0    12500
Name: sentiment, dtype: int64

In [0]:
train[train.sentiment == 0]

In [0]:
train[train.sentiment != 0]

In [0]:
df = pd.concat([train[train.sentiment == 1].sample(1000, random_state =1), train[train.sentiment == 0].sample(1000, random_state =1)])

In [0]:
df.reset_index(drop=True, inplace=True)

In [0]:
train = df

In [0]:
train.head()

                                                text  sentiment
0  I have watched this episode more often than an...          1
1  As many reviewers here have noted, the film ve...          1
2  At first,this movie seems so bad that i almost...          1
3  Was this based on a comic-book? A video-game? ...          1
4  Melissa Joan Hart shines! This show is amazing...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-32-893523.png)

In [0]:
train.tail()

                                                   text  sentiment
1995  Is rich, ailing Elizabeth Taylor courting the ...          0
1996  The movie itself is not too bad; many comments...          0
1997  I feel much less generous with this film than ...          0
1998  It SURPRISINGLY had a plot! ;) I've seen movie...          0
1999  This movie could have been 15 minutes long if ...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-52-059518.png)

**Question 3: (10 points)**

Sample **1000** rows from original test set. 500 positive, 500 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`test`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [0]:
df1 = pd.concat([test[test.sentiment == 1].sample(500, random_state =1), test[test.sentiment == 0].sample(500, random_state =1)])

In [0]:
df1.reset_index(drop=True, inplace=True)

In [0]:
test = df1

In [0]:
test.head()

                                                text  sentiment
0  Bug Juice changed my life. I Know it sounds st...          1
1  As many of today's movies are guilty of, the p...          1
2  This is one of the best movies I have ever see...          1
3  This movie took me by surprise. The opening cr...          1
4  I am salivating for the sequels. I needed some...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-06-418103.png)

In [0]:
test.tail()

                                                  text  sentiment
995  This is my opinion of this movie, expressed in...          0
996  Why can't a movie be rated a zero? Or even a n...          0
997  The Gun is probably the worst film I've ever s...          0
998  If you are thinking of going to see this film ...          0
999  This movie was like a gathering of people that...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-16-486933.png)

## Classification with TextBlob

**Question 4: (30 points)**

Use [textblob](https://textblob.readthedocs.io/en/dev/quickstart.html#sentiment-analysis) to do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
from textblob import TextBlob

In [0]:
test_str = test.iloc[0].text

In [0]:
blob = TextBlob(test_str); blob

TextBlob("Bug Juice changed my life. I Know it sounds strange, odd , weird. But it did. I am from England, Bug Juice never aired there but five years ago i went on vacation with my family and saw it on the Disney channel. Once i saw this TV series I was hooked I wanted to go.It took a lot of convincing to my parents to allow my brother and I to go to Waziyatah. I have been going since i was 12 and it was my forth year this summer. If you are a teenager reading this come to this camp it changes your life. you make life long friends at wazi. It doesn't matter who you are or if someone at home doesn't like you everyone likes you at camp. You have so much fun. If you want to have a look go on to www.wazi.com and check it out for yourself. It is so much fun I Love it there It is my Home Away from Home")

In [0]:
blob.sentiment

Sentiment(polarity=0.08703703703703702, subjectivity=0.5)

In [0]:
def get_sentiment(text):
  pred = TextBlob(text).sentiment[0]
  if pred > 0:
    return 1
  else:
    return 0

In [0]:
test.text.apply(get_sentiment)

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     0
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
970    1
971    1
972    1
973    0
974    1
975    0
976    0
977    1
978    0
979    0
980    1
981    0
982    1
983    1
984    0
985    0
986    0
987    1
988    0
989    1
990    1
991    0
992    1
993    0
994    0
995    1
996    0
997    0
998    1
999    0
Name: text, Length: 1000, dtype: int64

In [0]:
from sklearn import metrics

In [0]:
print(metrics.classification_report(test.sentiment, test.text.apply(get_sentiment)))

              precision    recall  f1-score   support

           0       0.91      0.43      0.59       500
           1       0.63      0.96      0.76       500

   micro avg       0.69      0.69      0.69      1000
   macro avg       0.77      0.69      0.67      1000
weighted avg       0.77      0.69      0.67      1000

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-27-649327.png)

## Classification with Scikit-learn

**Question 5: (40 points)**

Train a [MultinomialNB Model](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html) from Scikit-learn with the **train** data. Make sure you convert the text data into high dimensional (2000) vectors with [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html), and using proper parameters to filter the tokens. Then do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
vect = CountVectorizer()
vect.fit_transform(train.text)

<2000x25495 sparse matrix of type '<class 'numpy.int64'>'
	with 274989 stored elements in Compressed Sparse Row format>

In [0]:
matrix = vect.fit_transform(train.text).toarray()

In [0]:
matrix.shape

(2000, 25495)

In [0]:
vect = CountVectorizer(stop_words='english', token_pattern =u'(?u)\\b[^\\d\\W]\\w+\\b', max_df=0.8, min_df=2, max_features=2000)
vect.fit_transform(train.text)

<2000x2000 sparse matrix of type '<class 'numpy.int64'>'
	with 114420 stored elements in Compressed Sparse Row format>

In [0]:
matrix = vect.fit_transform(train.text).toarray()

In [0]:
matrix.shape

(2000, 2000)

In [0]:
headers = vect.get_feature_names()

In [0]:
term_matrix = pd.DataFrame(matrix, columns=headers)

In [0]:
term_matrix.head()

,abandoned,ability,able,absolute,absolutely,absurd,academy,accent,accents,accept,...,year,years,yes,york,young,younger,youth,zero,zombie,zombies
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
train.loc[0].text

'I have watched this episode more often than any other TFTC episode, it is that enjoyable. And it is quite scary, but all in good, ghoulish fun. A woman kills her 2nd husband but runs into a problem when an escaped maniac in a ragged Santa Claus outfit decides to pay her and her little girl a visit at that very moment. Mary Traynor, who I seem to remember from SNL or some other TV comedy skit show, is the evil wife, and Larry Drake plays the lunatic in the dingy Santa outfit. I had forgotten Santa was played by Drake over the years. His Santa is an unstoppable force and quite frightening at times. You can probably guess how Santa finally gets into the house. The episode is played for laughs, but it also can be pretty intense at times.'

In [0]:
X_train = vect.fit_transform(train.text)
y_train = train.sentiment

In [0]:
X_train

<2000x2000 sparse matrix of type '<class 'numpy.int64'>'
	with 114420 stored elements in Compressed Sparse Row format>

In [0]:
y_train

In [0]:
from sklearn.naive_bayes import MultinomialNB

In [0]:
nb = MultinomialNB()

In [0]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
X_test = vect.transform(test.text)
y_test = test.sentiment

In [0]:
y_pred = nb.predict(X_test)

In [0]:
from sklearn import metrics

In [0]:
metrics.accuracy_score(y_test, y_pred)

0.814

In [0]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.85      0.82       500
           1       0.84      0.78      0.81       500

   micro avg       0.81      0.81      0.81      1000
   macro avg       0.82      0.81      0.81      1000
weighted avg       0.82      0.81      0.81      1000

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-45-528500.png)